@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sargento Gorila';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../public/fonts/sargento-gorila.ttf');
}

@font-face {
  font-family: 'Game of Thrones';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/fonts/got.ttf');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/fonts/instrument-sans.ttf');
}
body {
  background-color: black;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.adminButton {
  background: radial-gradient(ellipse at center, #a383e6, #9158ff, #9158ff);
  color: white;
  /* text-xl */ /* py-7 px-8 */
  transition: all 0.3s;
}

.adminButton:hover {
  box-shadow: 0 4px 6px -1px rgba(63, 42, 103, 0.9); /* hover:shadow-md */
}


